  <form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <div class="form-floating">
      <input type="text" class="form-control" name="usr_head" id="id_usr_head floatingInput" placeholder="Head">
      <label for="floatingInput">Head</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="id_usr_heading floatingInput" name="usr_heading" placeholder="Heading">
      <label for="floatingInput">Heading</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingInput id_usr_description" name="usr_description" placeholder="Descriptions">
      <label for="floatingInput">Descriptions</label>
    </div>
    <div class="mb-3">
  <label for="exampleFormControlTextarea1"  class="form-label" placeholder="CodeBox">Example textarea</label>
  <textarea class="form-control" name="usr_code_box" id="exampleFormControlTextarea1" id="floatingInput id_usr_code_box" rows="3"></textarea>
</div>
    
    <button class="btn btn-primary w-100 py-2" type="submit">ADD RECORD</button>
  </form>