{% extends 'base.html' %}
{% block container %}
{% include 'studyPlace/html/header.html' %}
<nav class="navbar navbar-light bg-light">
  <form class="form-inline" method="post">
    {% csrf_token %}
    <input id="get_id" name="get_id" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

{% if sturec %}
<div class="col-md-6">
    <div
        class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
    >
        <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success-emphasis"
                >{{sturec.usr_head}} {{sturec.pk}}</strong
            >
            <h3 class="mb-0">{{sturec.usr_heading}}</h3>
            <p class="mb-auto">{{sturec.usr_description}}</p>
            <div class="mb-1 text-body-secondary">
                <pre>{{sturec.usr_code_box}}</pre>
            </div>
        </div>
    </div>

</div>
{% else %}
no data
{% endif %}

{% endblock container %}